@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Merriweather", serif; /*Bu kismi google font`dan CSS rules olarak alip getirdik */

  padding: 20px;
  font-size: 20px;
}

* {
  box-sizing: border-box;
  font-family: merry;
}

a {
  text-decoration: none; /*Linklerin altindaki cizgileri kaldirdik */
}

input,
textarea {
  border: 3px solid yellowgreen;
  border-radius: 8px;
  width: 100%;
  padding: 10px;
  font-family: "Merriweather", serif; /*Bu kismi google font`dan CSS rules olarak alip getirdik */
  font-size: 15px;
  font-weight: 700;
}

button {
  border: 3px solid yellowgreen;
  border-radius: 8px;
  background-color: yellowgreen;
  font-size: 25px;
  color: yellow;
  padding: 10px 20px;
}
